[buildout]
include-site-packages = false
relative-paths = true
prefer-final = false
unzip = true
newest = false
download-cache = .cache
develop = .
parts = 

[project]
name = dowser
company = Infinidat
namespace_packages = []
install_requires = ['CherryPy',
	 'infi.recipe.console_scripts',
	 'Pillow',
	 'setuptools']
version_file = src/dowser/__version__.py
description = Debugging Python’s Memory Usage with Dowser
long_description = Debugging Python’s Memory Usage with Dowser
console_scripts = ['dowser = dowser:main']
gui_scripts = []
package_data = ['tree.html', 'trace.html', 'main.css', 'graphs.html']
upgrade_code = {2f32c97d-1084-11e3-9d14-84383565d680}
product_name = dowser
post_install_script_name = None
pre_uninstall_script_name = None

[isolated-python]
recipe = infi.recipe.python
version = v2.7.2.5

[setup.py]
recipe = infi.recipe.template.version
input = setup.in
output = setup.py

[__version__.py]
recipe = infi.recipe.template.version
output = ${project:version_file}
input = inline:
	__version__ = "${infi.recipe.template.version:version}"
	__git_commiter_name__ = "${infi.recipe.template.version:author}"
	__git_commiter_email__ = "${infi.recipe.template.version:author_email}"
	__git_branch__ = ${infi.recipe.template.version:git_local_branch}
	__git_remote_tracking_branch__ = ${infi.recipe.template.version:git_remote_tracking_branch}
	__git_remote_url__ = ${infi.recipe.template.version:git_remote_url}
	__git_head_hash__ = ${infi.recipe.template.version:head_hash}
	__git_head_subject__ = ${infi.recipe.template.version:head_subject}
	__git_head_message__ = ${infi.recipe.template.version:head_message}
	__git_dirty_diff__ = ${infi.recipe.template.version:dirty_diff}

[development-scripts]
dependent-scripts = true
recipe = infi.recipe.console_scripts
eggs = ${project:name}
	ipython
	nose
	mock
	coverage
	pylint
	infi.unittest
	infi.traceback
interpreter = python

[eclipse]
recipe = rbco.recipe.pyeclipse
project-name = ${project:name}
project-directory = ${buildout:directory}
python-version = 2.7
source-resources = ${buildout:directory}/src

[pydev]
recipe = pb.recipes.pydev
eggs = ${development-scripts:eggs}

[pack]
recipe = infi.recipe.application_packager

[sublime]
recipe = corneti.recipes.codeintel
eggs = ${development-scripts:eggs}

